extends components/layout

block styles
    link(rel='stylesheet',href='/style/style.css')
block content
    include  components/head
    include  components/side
    .content
        blockquote.layui-elem-quote.layui-quote-nm 云题库-录入题目
        form.layui-form.layui-form-pane(id="createItem" onsubmit='return false')
            .layui-form-item
                label.layui-form-label 科目
                .layui-input-inline
                    input.layui-input(id='subject' value= subject_default readonly='readonly')
                label.layui-form-label 题型
                .layui-input-inline
                    if qInfo
                        select( id='type' )
                            if qInfo.type === "选择题"
                                option(value="0" selected) 选择题
                                option(value="1") 填空题
                                option(value="2") 判断题
                                option(value="3") 简答题
                                option(value="4") 解答题
                            else if qInfo.type === "填空题"
                                option(value="0" ) 选择题
                                option(value="1" selected) 填空题
                                option(value="2") 判断题
                                option(value="3") 简答题
                                option(value="4") 解答题
                            else if qInfo.type === "判断题"
                                option(value="0" ) 选择题
                                option(value="1") 填空题
                                option(value="2" selected) 判断题
                                option(value="3") 简答题
                                option(value="4") 解答题
                            else if qInfo.type === "简答题"
                                option(value="0" ) 选择题
                                option(value="1") 填空题
                                option(value="2") 判断题
                                option(value="3" selected) 简答题
                                option(value="4") 解答题
                            else if qInfo.type === "解答题"
                                option(value="0" ) 选择题
                                option(value="1") 填空题
                                option(value="2") 判断题
                                option(value="3") 简答题
                                option(value="4" selected) 解答题
                    else
                        select(id='type')
                            option(value="0" selected) 选择题
                            option(value="1") 填空题
                            option(value="2") 判断题
                            option(value="3") 简答题
                            option(value="4") 解答题

                label.layui-form-label 知识点
                .layui-input-inline
                    input.layui-input(id='tips' value="#{qInfo ? qInfo.tips : ''}" )
                //    select(id='tips'  )
                //        if(qInfo)
                //            option(value="0") #{qInfo.tips}
                //        else
                //            option(value="") 请选择知识点
                //        for tips_item in allTips
                //            option(value="0") #{tips_item}

            .layui-form-item.layui-form-text
                label.layui-form-label 题目
                .layui-input-block
                    textarea.layui-textarea(placeholder="请输入题目" id='question'  )  #{qInfo ? qInfo.question : ''}
            .layui-form-item
                label.layui-form-label 附件图片
                .layui-input-block
                    input(name="fileImg" id='upfile' type='file')
                    input(name="attachment" class='attachment' type='text' value= qInfo?fileName:'' readonly )
                    button(onclick='del_upload(this)') 删除
                .layui-input-block
                    input(name="fileImg" class='upfile' type='file')
                    input(name="attachment" class='attachment' type='text' value= qInfo ? fileName : '' readonly )
                    button(onclick='del_upload(this)') 删除
                .layui-input-block
                    input(name="fileImg" class='upfile' type='file')
                    input(name="attachment" class='attachment' type='text' value= qInfo ? fileName : '' readonly )
                    button(onclick='del_upload(this)') 删除
                .layui-input-block
                    input(name="fileImg" class='upfile' type='file')
                    input(name="attachment" class='attachment' type='text' value= qInfo ? fileName : '' readonly )
                    button(onclick='del_upload(this)') 删除
                .layui-input-block
                    input(name="fileImg" class='upfile' type='file')
                    input(name="attachment" class='attachment' type='text' value= qInfo ? fileName : '' readonly )
                    button(onclick='del_upload(this)') 删除
                .layui-input-block
                    input(name="fileImg" class='upfile' type='file')
                    input(name="attachment" class='attachment' type='text' value= qInfo ? fileName : '' readonly )
                    button(onclick='del_upload(this)') 删除
                .layui-input-block
                    input(type='button' value='上传' onclick="up()")

            .layui-form-item.layui-form-text
                label.layui-form-label 答案
                .layui-input-block
                    textarea.layui-textarea(placeholder="请输入答案" id='answer'  ) #{qInfo ? qInfo.answer : ''}
            .layui-form-item
                label.layui-form-label LEVEL
                .layui-input-block
                    if(qInfo)
                        if(qInfo.level === '易')
                            input(type="radio" name="level" title="容易" value="易"  checked="")
                            input(type="radio" name="level" title="普通" value="中" )
                            input(type="radio" name="level" title="有难度" value="难")
                        else if(qInfo.level === '中')
                            input(type="radio" name="level" title="容易" value="易"  )
                            input(type="radio" name="level" title="普通" value="中" checked="")
                            input(type="radio" name="level" title="有难度" value="难")
                        else if(qInfo.level === '难')
                            input(type="radio" name="level" title="容易" value="易"  )
                            input(type="radio" name="level" title="普通" value="中" )
                            input(type="radio" name="level" title="有难度" value="难" checked="")
                    else
                        input(type="radio" name="level" title="容易" value="易"  )
                        input(type="radio" name="level" title="普通" value="中" checked="")
                        input(type="radio" name="level" title="有难度" value="难")
            hr
            .layui-form-item
                label.layui-form-label 分享
                .layui-input-block
                    input(type="checkbox" name="public" lay-skin="switch" title="分享" id='isPublic' checked= qInfo ? qInfo.public : false )
            hr
            if qInfo
                button.layui-btn.layui-btn-radius.layui-btn-normal(lay-submit lay-filter="formDemo" style="display:block;margin:0 auto" onclick='updateQuestion("#{qInfo.id}")')  提交保存
            else
                button.layui-btn.layui-btn-radius.layui-btn-normal(lay-submit lay-filter="formDemo" style="display:block;margin:0 auto" onclick='createQuestion()')  提交保存
            p.hidden#message #{message}
block scripts
    script(src='/js/jquery-3.2.1.min.js')
    script(src='/js/add_questions.js')
    script.
        $(document).ready(function () {
            if ($('#message').text()) {
                layer.alert($('#message').text())
            }
        })



