//
   Created by HUI on 2016/11/13.
extends ../components/layout

block styles
    link(rel='stylesheet', href='http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css')
block content
    nav.navbar.navbar-default(role="navigation" style="margin: 0;background-color: #323334")
        .container-fluid
            .navbar-header
                a.navbar-brand(href="/back/dashboard" style="color:#fdfeff") 出卷易
            ul.nav.navbar-nav.navbar-right
                li
                    a(href="/back/logout" style="color:#fff") 退出


    if userInfo
        h1(style="text-align:center")  更新信息
        form.layui-form.layui-form-pane(action='/back/update' method="post" style="width:30%;margin:0 auto")
            .layui-form-item(pane)
                label.layui-form-label 用户名
                .layui-input-block
                    input.layui-input(type="text" placeholder="Username" name='username' value="#{userInfo.username}" readonly="readonly")
            .layui-form-item
                label.layui-form-label 密码
                .layui-input-block
                    input.layui-input(type="text" placeholder="password" name='password' value="#{userInfo.password}")
            .layui-form-item
                label.layui-form-label 科目
                .layui-input-block
                    input.layui-input(type="text" placeholder="subject,学科之间已英文逗号隔开" name='subject' value="#{userInfo.subject}")
            .layui-form-item
                label.layui-form-label 备注
                .layui-input-block
                    input.layui-input(type="text" placeholder="remarks" name='remarks' value="#{userInfo.remarks}")
            button.layui-btn 更新

    else if(userModify)
        h1(style="text-align:center") 更新信息
        form.layui-form.layui-form-pane(action='/back/update' method='post' style="width:30%;margin:0 auto")
            .layui-form-item(pane)
                label.layui-form-label 用户名
                .layui-input-block
                    input.layui-input(type="text" placeholder="Username" name='username' value= userModify.username readonly="readonly")
            .layui-form-item(pane)
                label.layui-form-label 密码
                .layui-input-block
                    input.layui-input(type="text" placeholder="password" name='password'  value= userModify.password)
            .layui-form-item(pane)
                label.layui-form-label 科目
                .layui-input-block
                    input.layui-input(type="text" placeholder="subject,学科之间已英文逗号隔开" name='subject' value= userModify.subject )
            .layui-form-item(pane)
                label.layui-form-label 备注
                .layui-input-block
                    input.layui-input(type="text" placeholder="remarks" name='remarks' value= userModify.remarks)
            button.layui-btn 提交
            p.hidden#error #{error.message}

    else if(user)
        h1(style="text-align:center") 创建用户
        form.layui-form.layui-form-pane(action='/back/createuser' method='post' style="width:30%;margin:0 auto")
            .layui-form-item(pane)
                label.layui-form-label 用户名
                .layui-input-block
                    input.layui-input(type="text" placeholder="Username" name='username' value= user.username)
            .layui-form-item(pane)
                label.layui-form-label 密码
                .layui-input-block
                    input.layui-input(type="text" placeholder="password" name='password'  value= user.password)
            .layui-form-item(pane)
                label.layui-form-label 科目
                .layui-input-block
                    input.layui-input(type="text" placeholder="subject,学科之间已英文逗号隔开" name='subject' value= user.subject )
            .layui-form-item(pane)
                label.layui-form-label 备注
                .layui-input-block
                    input.layui-input(type="text" placeholder="remarks" name='remarks' value= user.remarks)
            button.layui-btn 提交
            p.hidden#error #{error.message}

    else
        h1(style="text-align:center") 创建用户
        form.layui-form.layui-form-pane(action='/back/createuser' method='post' style="width:30%;margin:0 auto")
            .layui-form-item(pane)
                label.layui-form-label 用户名
                .layui-input-block
                    input.layui-input(type="text" placeholder="Username" name='username')
            .layui-form-item(pane)
                label.layui-form-label 密码
                .layui-input-block
                    input.layui-input(type="text" placeholder="password" name='password' )
            .layui-form-item(pane)
                label.layui-form-label 科目
                .layui-input-block
                    input.layui-input(type="text" placeholder="subject,学科之间已英文逗号隔开" name='subject' )
            .layui-form-item(pane)
                label.layui-form-label 备注
                .layui-input-block
                    input.layui-input(type="text" placeholder="remarks" name='remarks')
             button.layui-btn 提交
block scripts
    script(src='/js/createUser.js')