//
   Created by HUI on 2016/11/13.
extends ../components/layout

block styles
    link(rel='stylesheet', href='http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css')
    //link(rel='stylesheet', href='../style/style.css')
block content
    nav.navbar.navbar-inverse(role="navigation" style="margin: 0;background-color: #323334")
        .container-fluid
            .navbar-header
                a.navbar-brand(href="" style="color:#fdfeff") 出卷易
            ul.nav.navbar-nav.navbar-right
                li.dropdown
                    a.dropdown-toggle(href='#' data-toggle="dropdown" style="color:#fff") 菜单
                        span.caret
                    ul.dropdown-menu(role="menu")
                        li
                            a(href="/back/createuser") 创建用户
                        li
                            a(href="/back/question-manage") 试题难度管理
                li
                    a(href="/back/logout" style="color:#fff") 退出
    table.table.table-bordered.table-hover.table-striped
        tr
            th  用户名
            th  密码
            th  学科
            th  备注
            th  操作
        each item in user_info
            tr
                th  #{item.username}
                th  #{item.password}
                th  #{item.subject}
                th  #{item.remarks}
                th
                    a(href='/back/update/'+'#{item.username}') 修改
                    a(onclick='del_user("#{item.username}")' href='javascript:void(0)' style="position:relative;left:10px") 删除

block scripts
    script(src='http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js')
    script.
            function del_user(username) {
                $.ajax({
                    url: '/back/api/delete/'+username,
                    type: 'DELETE',
                    success: function () {
                        layer.msg('删除'+username+'成功')
                        window.location.reload()
                    },
                    error: function () {
                        layer.msg('删除失败')
                    }
                })
            }

