//
   Created by HUI on 2016/11/13.
extends ../components/layout

block styles
    link(rel='stylesheet', href='http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='../style/style.css')
block content
    nav.navbar.navbar-default(role="navigation" style="margin: 0;background-color: #323334")
        .container-fluid
            .navbar-header
                a.navbar-brand(href="" style="color:#fdfeff") 超级管理员管理系统
            ul.nav.navbar-nav.navbar-right
                li
                    a(href="/back/createuser" style="color:#fff") 创建用户
                li
                    a(href="/back/logout" style="color:#fff") 退出
    table.table.table-bordered.table-hover.table-striped
        tr
            th  用户名
            th  密码
            th  学科
            th  备注
            th  操作
        each item in user_info
            tr
                th  #{item.username}
                th  #{item.password}
                th  #{item.subject}
                th  #{item.remarks}
                th
                    a(href='/api/back/find_userInfo/'+'#{item.username}') 修改
                    a(href='/api/back/delete/'+'#{item.username}' style="position:relative;left:10px") 删除
